.characterEditor {
  padding-top: 128px;
  padding-bottom: 64px;
}

.maxWidthWrapper {
  position: relative;
}

.header {
  padding-bottom: 64px;
  max-width: 65%;
}

.title {
  font-size: 2.5rem;
  font-weight: 600;
  margin-top: 0;
  margin-bottom: 16px;
  letter-spacing: -0.5px;
}

.description {
  font-size: 1.25rem;
  margin: 0;
}

.characterWrapper {
  position: fixed;
  top: 0;
  left: 60%;
  bottom: 5%;
  min-height: 500px;
}

.controlColumn {
  max-width: 50%;
}

.perspectiveBar {
  background-color: hsl(195deg, 20%, 86%);
  height: 40vh;
  width: 100vw;
  /* margin-left: -32px;
  margin-right: -32px; */
  position: fixed;
  bottom: 0;
  left: 0;
  /* z-index: -1; */
}
